body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1020px;
}
.headerContainer {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 63px;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 50);
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:focus, a:hover {
    color: rgb(46, 179, 152);
}
.header {
    width: 100%;
    height: 100%;
    align-self: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-weight: bold;
    font-size: 10px;
}
.left {
    position: relative;
    top: 4px;
    left: -36px;
}
.right {
    position: relative;
    top: 4px;
    left: 39px;
}
#portfolio {
    position: relative;
    margin-right: 11px;
}
#about {
    position: relative;
    margin-left: 11px;
}
#blog {
    position: relative;
    margin-right: 10px;
}
#getInTouch {
    position: relative;
    margin-left: 11px;
}
.triangleDown {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: rgb(50, 50, 50) transparent transparent transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
  }
.logoImage {
    position: relative;
    top: 8px;
    left: 1px;
}
.downPart {
    display: flex;
    flex-direction: row;
}
.horizontalLine {
    height: 1px;
    width: 410px;
    align-self: center;
    position: relative;
    top: -2px;
}
.verticalLine {
    height: 105px;
    width: 1px;
    align-self: center;
    position: relative;
}
.upperLeft {
    top: -13px;
    margin-right: 10px;
}
.upperRight {
    top: -13px;
    margin-left: 10px;
}
.lowerLeft {
    top: -13px;
    margin: 0 10px;
}
.lowerRight {
    top: -13px;
    margin: 0 10px;
}
#lineLeft {
    margin-left: 30px;
}
.dot {
    color: rgb(65, 69, 82);
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.hexagonGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    justify-content: center;
    padding-top: 95px;
    padding-bottom: 64px;
}
.hexagon {
    width: 180px;
    height: 210px;
    transform: rotate(120deg);
    margin: 0 10px;
    overflow: hidden;
    visibility: hidden;
    cursor: pointer;
    margin-top: -34px;
    margin-bottom: -7px;
    }
.hexagonLayer1 {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}
.hexagonLayer2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    overflow: hidden;
    transform: rotate(-60deg);
}
#image1 {
    background-image: url("./accets/image1.png");
}
#image2 {
    background-image: url("./accets/image2.png");
}
#image3 {
    background-image: url("./accets/image3.png");
}
#image4 {
    background-image: url("./accets/image4.png");
}
#image5 {
    background-image: url("./accets/image5.png");
}
#image6 {
    background-image: url("./accets/image6.png");
}
#image7 {
    background-image: url("./accets/image7.png");
}
#image8 {
    background-image: url("./accets/image8.png");
}
#image9 {
    background-image: url("./accets/image9.png");
}
#image10 {
    background-image: url("./accets/image10.png");
}
#image11 {
    background-image: url("./accets/image11.png");
}
#image12 {
    background-image: url("./accets/image12.png");
}
#image13 {
    background-image: url("./accets/image13.png");
}
#image14 {
    background-image: url("./accets/photo.png");
}
#image14:hover {
    transform: scale(1.3) rotate(-60deg);
    /*transform: rotate(-60deg);*/
}
.sliderThumbnails {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 0 30px;
    padding-bottom: 11px;
}
.thumbnail {
    background-color: rgb(221, 210, 197);
    width: 6px;
    height: 6px;
    margin-right: 3px;
}
.thumbnail:hover {
    background-color: rgb(139, 135, 132);
}
.lowerCentral {
    width: 960px;
    top: 0px;
    padding-bottom: 11px;
}
.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 341px;
    background-color: rgb(46, 179, 152);
}
.aboutLeft {
    /*padding: 12px 0;*/
    height: 316px;
    padding-left: 100px;
}
.photo {
    margin: 0 20px;
}
.infoAboutMe {
    display: flex;
    flex-direction: column;
    width: 581px;
    height: 206px;
}
.name {
    color: rgb(215, 252, 245);
    font-size: 30px;
    font-family: Maven Pro;
    text-align: start;
}
.career {
    color: rgb(33, 132, 112);
    font-size: 18px;
    font-family: Maven Pro;
}
.lorem {
    color: rgb(215, 252, 245);
    font-size: 12px;
    font-family: Lato;
}
.socialButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 24px;
    background-color: white;
}
